
html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: black;
  }

  h1 {
    color: white;
  }

  h2 {
    text-align: center;
  }

  h3 {
      text-align: center;
  }

  p {
    padding:0 1rem;
  }
  
  .main-content {
    position: relative;
    top: 5.3125rem; /* To offset for fixed header. */
  }

  .project {
    padding: 4rem 0;
    background-color: #08ffff;
    margin: 2rem;
  }

  .section {
    padding: 4rem 0;
    background-color: #4a4a4a;
    margin: 2rem;
  }
  
  .center {
    text-align: center;
  }
  
  .button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
  }
  
  .image-container {
    overflow: hidden;
  }
  
  .image-container img {
    display: block;
    max-width: 100%;
  }
  
  @media only screen and (max-width: 895px) {
    .main-content {
      top: 2.5625rem;
    }
  }

/* Header */

header {
    top: 0rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: rgb(255, 0, 0);
  }
  
  header .content {
    display: flex;
    align-items: center;
    padding: .5rem;
  }
  
  header .logo {
    flex: 1;
    padding: 1rem;
  }
  
  header nav ul {
    display: flex;
  }
  
  nav li {
    padding-left: 3.5rem;
  }
  
  nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: #4a4a4a;
    padding: 1rem;
  }
  
  nav .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
  
  nav li:last-child {
    display: none;
  }
  
  header .icon {
    width: 1rem;
    padding-left: .75rem;
  }
  
  header .mobile {
    display: none;
  }

  @media only screen and (max-width: 895px) {
    nav li:last-child {
      display: block;
    }
  
    header .content {
      padding: 1rem 1rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
    header .desktop {
      display: none;
    }
  
    header .mobile {
      display: block;
      width: 100%;
    }
  
    header .content {
      padding: .5rem 0;
    }
  
    header .mobile ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
  
    header .mobile li {
      padding: 0;
    }
  }
  
  /* About Me */
  
  #aboutMe-section {
    padding: 4rem 0;
    background-color: #4a4a4a;
    margin: 2rem;
  }
  
  #aboutMe-section .content {
    padding: 0 .625rem;
    margin-bottom: 5rem;
  }
  
  #aboutMe-section .content h2 {
    font-size: 2.25rem;
    font-weight: bold;
    color: white;
  }
  
  #aboutMe-section .content h3 {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 300;
    color: white;
  }
  
  #aboutMe-section .images-container {
    align-items: center;
    display: flex;
    max-width: 100%;
    padding: 0 1%;
  }
  
  @media only screen and (max-width: 600px) {
    #aboutMe-section {
      padding: 1.5rem 0 0 0;
    }
  
    #aboutMe-section .content {
      margin-bottom: 1rem;
    }
  
    #aboutMe-section .content h2 {
      padding-bottom: .625rem;
      font-size: 1.125rem;
      line-height: 1.3;
      font-weight: normal;
    }
  
    #aboutMe-section .content h3 {
      font-size: .875rem;
      line-height: 1.4;
      padding: 2rem;
    }
  
    #aboutMe-section .images-container {
      padding: 0;
    }
  
    #aboutMe-section .extra {
      display: none;
    }
  }

    /* My Projects */
    
    #projects-section .content {
      padding: 0 .625rem;
      margin-bottom: 5rem;
    }
    
    #projects-section .content h2 {
      font-size: 2.25rem;
      font-weight: bold;
      color: white;
    }
    
    #projects-section .content h3 {
      font-size: 1rem;
      line-height: 1.4;
      font-weight: 300;
      color: white;
      padding: 2rem;
    }
    
    #projects-section .images-container {
      align-items: top;
      display: flex;
      max-width: 100%;
      padding: 0 1%;
    }

    #projects-section .image-container {
      margin: 3rem 1rem;
    }
    
    @media only screen and (max-width: 600px) {
      #projects-section {
        padding: 1.5rem 0 0 0;
      }
    
      #projects-section .content {
        margin-bottom: 1rem;
      }
    
      #projects-section .content h2 {
        padding-bottom: .625rem;
        font-size: 1.125rem;
        line-height: 1.3;
        font-weight: normal;
      }
    
      #projects-section .content h3 {
        font-size: .875rem;
        line-height: 1.4;
      }
    
      #projects-section .images-container {
        padding: 0;
      }
    
      #projects-section .extra {
        display: none;
      }
    }
    
    /* My Resume */
  
    #resume-section {
      padding: 4rem 0;
      background-color: #4a4a4a;
      margin: 2rem;
    }
    
    #resume-section .content {
      padding: 0 .625rem;
      margin-bottom: 5rem;
    }
    
    #resume-section .content h2 {
      font-size: 2.25rem;
      font-weight: bold;
      color: white;
    }
    
    #resume-section .content h3 {
      font-size: 1rem;
      line-height: 1.4;
      font-weight: 300;
      color: white;
      padding: 2rem;
    }
    
    #resume-section .images-container {
      align-items: top;
      display: flex;
      max-width: 100%;
      padding: 0 1%;
    }

    #resume-section .image-container {
      margin: 1rem 4rem;
    }
    
    @media only screen and (max-width: 600px) {
      #resume-section {
        padding: 1.5rem 0 0 0;
      }
    
      #resume-section .content {
        margin-bottom: 1rem;
      }
    
      #resume-section .content h2 {
        padding-bottom: .625rem;
        font-size: 1.125rem;
        line-height: 1.3;
        font-weight: normal;
      }
    
      #resume-section .content h3 {
        font-size: .875rem;
        line-height: 1.4;
      }
    
      #resume-section .images-container {
        padding: 0;
      }
    
      #resume-section .extra {
        display: none;
      }
    }